:host {
  width: 100%;
  min-height: 90px;
  border-bottom: 1px solid #cccccc;
  display: flex;
}

a {
  text-decoration: none;
  display: flex;
  width: 100%;
}

.images {
  width: 100px;
  margin: 10px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mascots{
  width: 70px;
  height: 70px;
}

.houses {
  margin: 10px;
  text-align: left;
  font-size: 30px;
  flex: 1;
  margin-left: 15px;
  align-items: center;
  justify-content: center;
}

.members{
  width: 100px;
  margin: 10px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.houses p {
  margin: 0;
  font-size: 25px;
  font-weight: bold;
  color: #383838;
  font-family: Alegreya Sans SC;
}

.houses p:hover {
  color: #8f8411;
  cursor: pointer;
}

.houses small {
  margin: 0;
  font-size: 15px;
  color: #383838;
  font-family: Alegreya Sans SC;
}

.members p {
  font-size: 25px;
  color: #383838;
  font-family: Alegreya Sans SC;
}

.flex-container {
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  min-height: 90px;
}



