<app-item *ngFor="let house of houses | search:searchTerm"
          [name]="house?.name"
          [mascot]="house?.mascot"
          [headOfHouse]="house?.headOfHouse"
          [members]="house?.members?.length"
          (click)="onClick(house?._id)">

</app-item>

<p *ngIf="(houses | search:searchTerm)?.length === 0">No results...</p>

<app-item-spell *ngFor="let spell of spells"
                [spell]="spell?.spell"
                [type]="spell?.type"
                [effect]="spell?.effect">
</app-item-spell>


