<app-item *ngFor="let house of houses | search:searchTerm"
          [name]="house?.name"
          [mascot]="house?.mascot"
          [headOfHouse]="house?.headOfHouse"
          [members]="house?.members?.length"
          (click)="onClick(house?._id)">
</app-item>

<div *ngIf="(houses | search:searchTerm)?.length === 0" class="illustration">
  <div class="image">
    <img src="./assets/logos/package_not_found.png" class="noResult">
    <p>No results...</p>
  </div>
</div>

<app-item-spell *ngFor="let spell of spells | searchSpells:searchTerm"
                [spell]="spell?.spell"
                [type]="spell?.type"
                [effect]="spell?.effect">
</app-item-spell>

<div *ngIf="(spells | searchSpells:searchTerm)?.length === 0" class="illustration">
  <div class="image">
    <img src="./assets/logos/package_not_found.png" class="noResult">
    <p>No results...</p>
  </div>
</div>

<app-item-character *ngFor="let character of characters | searchCharacters:searchTerm"
                    [name]="character?.name"
                    [bloodStatus]="character?.bloodStatus"
                    [school]="character?.school"
></app-item-character>

<div *ngIf="(characters | searchCharacters:searchTerm)?.length === 0" class="illustration">
  <div class="image">
    <img src="./assets/logos/package_not_found.png" class="noResult">
    <p>No results...</p>
  </div>
</div>






