:host {
  display: flex;
  flex-direction: column;
}

.illustration {
  display: flex;
  margin-top:100px;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.image {
  height: 144px;
  margin-bottom: 32px;
}

.noResult {
  height: 144px;
  width: 250px;
}

p{
  justify-content: center;
  text-align: center;
  font-family: Alegreya Sans SC;
  font-weight: bold;
  color: #646566;
  margin-top: 10px;
}
