:host {
  display: block;
  border: 1px solid #cccccc;
  height: 110px;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: linear-gradient(90.32deg, #B59144 -5.81%, #5F4B1F 30.72%, #392D13 73.39%, #8D8843 112.14%);
  box-shadow: inset 0px 0.5px 0px rgba(0, 0, 0, 0.25);
}

.flex-container {
  display: flex;
  align-items: stretch;
}

.flex-container > div {
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  flex: 1;
}

fa-icon {
  cursor: pointer;
  color: white;
}


