<div class="flex-container">
  <div class="nameOfCharacter">
    <p> {{ name }} </p>
    <div class="badges">
    <img title="hello" *ngIf="dumbledoresArmy" src="/assets/badges/dumbledoresArmy.jpg" class="images">
    <img *ngIf="deathEater" src="/assets/badges/deathEater.png" class="images">
    <img *ngIf="ministryOfMagic" src="/assets/badges/ministryOfMagic.png" class="images">
    <img *ngIf="orderOfThePhoenix" src="/assets/badges/orderOfThePhoenix.png" class="images">
    </div>
  </div>
  <div class="effect">
    <small> {{ bloodStatus }} </small>
  </div>
  <div class="school">
    <p> {{ school }} </p>
  </div>
</div>
