:host {
  width: 100%;
  min-height: 90px;
  border-bottom: 1px solid #cccccc;
  display: flex;
}

.images {
  width: 100px;
  margin: 10px;
  font-size: 30px;
  display: flex;
}

.mascots {
  width: 90px;
  height: 90px;
}

.button {
  height: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.houses {
  margin: 10px;
  flex: 1;
  margin-top: 35px;
  align-items: center;
}

.houses p {
  margin: 0;
  font-size: 35px;
  font-weight: bold;
  color: #383838;
  font-family: Alegreya Sans SC;
  margin-right: 10px;
}

.houses small {
  margin: 0;
  font-size: 15px;
  color: #383838;
  font-family: Alegreya Sans SC;
}

.flex-container {
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  min-height: 90px;
  flex-wrap: wrap;
}

.flex-container2 {
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  min-height: 90px;
  flex-wrap: wrap;
}

.schools {
  margin: 10px;
  text-align: left;
  font-size: 30px;
  margin-left: 15px;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
}

.schools p {
  margin: 0;
  font-size: 25px;
  font-weight: bold;
  color: #383838;
  font-family: Alegreya Sans SC;
}

.schools li {
  margin: 0;
  font-size: 25px;
  font-weight: bold;
  color: #383838;
  font-family: Alegreya Sans SC;
  list-style: circle;
}

.schools small {
  margin: 0;
  font-size: 18px;
  color: #383838;
  font-family: Alegreya Sans SC;
}

.border {
  border-bottom: 1px solid #cccccc;
  width: 100%;
}

.backButton {
  box-shadow: 0px 0px 0px 0px #8D8843;
  background: white;
  border-radius: 15px;
  border: 2px solid #5F4B1F;
  cursor: pointer;
  color: #5F4B1F;
  font-family: Alegreya Sans SC;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 16px;
  text-decoration: none;
  text-shadow: 0px 0px 0px  #8D8843;
  outline: none;
}

.backButton:hover {
  background:linear-gradient(to bottom, #8D8843 5%, #5F4B1F 100%);
  background-color: #5F4B1F;
  color: white;
}

